<section class="sectionPadding">
  <div class="container">
    <div
      class="bg-primary rounded-5 py-4"
      style="
        background: url(/assets/images/bg-dark.png) no-repeat center center;
      "
    >
      <div class="col-12">
        <div
          class="text-white text-center p-4 rounded-3 d-flex flex-column align-items-center justify-content-center gap-4"
        >
          <h4>انطلق الآن في عالم التعليم الرقمي</h4>

          <h6 style="line-height: 3; max-width: 800px">
            إذا كنت تبحث عن طريقة احترافية لإنشاء منصة تعليمية خاصة بك وتحقيق
            دخل مستدام من بيع الدورات التدريبية، فإن طبشور هي الحل المتكامل الذي
            يجمع بين القوة التقنية وسهولة الاستخدام. ابدأ اليوم في بناء
            أكاديميتك الرقمية، وامنح جمهورك تجربة تعليمية احترافية تليق بعلامتك
            التجارية.
          </h6>

          <div class="d-flex gap-3">
            <button class="main-btn outline" style="min-width: 150px">
              المدونه
            </button>
            <button class="main-btn outline" style="min-width: 150px">
              ابدأ الان
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
