<section class="sectionPadding">
  <div class="container">
    <div class="row justify-content-center align-items-center g-4">
      <div
        class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center"
      >
        <img
          src="/assets/images/github.png"
          alt="GitHub"
          class="img-fluid w-100 h-100 object-fit-contain"
        />
      </div>
      <div
        class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center"
      >
        <img
          src="/assets/images/github.png"
          alt="GitHub"
          class="img-fluid w-100 h-100 object-fit-contain"
        />
      </div>
      <div
        class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center"
      >
        <img
          src="/assets/images/github.png"
          alt="GitHub"
          class="img-fluid w-100 h-100 object-fit-contain"
        />
      </div>
      <div
        class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center"
      >
        <img
          src="/assets/images/github.png"
          alt="GitHub"
          class="img-fluid w-100 h-100 object-fit-contain"
        />
      </div>
      <div
        class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center"
      >
        <img
          src="/assets/images/github.png"
          alt="GitHub"
          class="img-fluid w-100 h-100 object-fit-contain"
        />
      </div>
      <div
        class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center"
      >
        <img
          src="/assets/images/github.png"
          alt="GitHub"
          class="img-fluid w-100 h-100 object-fit-contain"
        />
      </div>
    </div>
  </div>
</section>
