<section class="contact-section sectionPadding" id="contact">
  <div class="container">
    <hgroup class="section-header mb-4">
      <span>تواصل معنا</span>
      <h4 class="section-header-title">
        كل ما تحتاجه لمساعدتك على بدء منصتك الخاصة
      </h4>
    </hgroup>

    <div class="row g-4 ">
      <div class="col-lg-5">
        <div
          class="p-2 rounded-3 d-flex align-items-center flex-wrap justify-content-evenly gap-3"
          style="background-color: var(--primary-soft)"
        >
          <div class="d-flex align-items-center justify-content-start gap-1">
            <div
              class="d-flex justify-content-center align-items-center rounded-circle bg-primary text-white fs-3"
              style="width: 2.5rem; height: 2.5rem"
            >
              <i class="bi bi-person-fill"></i>
            </div>

            <div class="d-flex flex-column gap-1">
              <span class="mb-0" style="font-size: 10px"
                >البريد الالكرتوني</span
              >
              <p class="mb-0 text-black" style="font-size: 14px">
                7Kd0B@example.com
              </p>
            </div>
          </div>

          <div class="d-flex align-items-center justify-content-start gap-1">
            <div
              class="d-flex justify-content-center align-items-center rounded-circle bg-primary text-white fs-3"
              style="width: 2.5rem; height: 2.5rem"
            >
              <i class="bi bi-person-fill"></i>
            </div>

            <div class="d-flex flex-column gap-1">
              <span class="mb-0" style="font-size: 10px"
                >البريد الالكرتوني</span
              >
              <p class="mb-0 text-black" style="font-size: 14px">
                7Kd0B@example.com
              </p>
            </div>
          </div>
        </div>

        <div class="w-100 d-none d-lg-block mt-4">
          <img
            src="/assets/images/pc.png"
            alt="Contact Image"
            class="img-fluid w-100 h-100 object-fit-cover"
          />
        </div>
      </div>

      <div class="col-lg-7">
        <form class="contact-form">
          <div class="mb-3">
            <label class="form-label">الاسم</label>
            <input
              type="text"
              class="form-control"
              placeholder="اكتب اسمك هنا"
              required
            />
          </div>

          <div class="mb-3">
            <label class="form-label">البريد الالكتروني</label>
            <input
              type="email"
              class="form-control"
              placeholder="اكتب اسمك هنا"
              required
            />
          </div>

          <div class="mb-3">
            <label class="form-label">الرسالة</label>
            <textarea
              class="form-control"
              rows="5"
              placeholder="الرسالة"
              required
            ></textarea>
          </div>

          <button type="submit" class="main-btn" style="min-width: 150px">
            ارسال
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
