<section class="sectionPadding">
  <div class="container">
    <hgroup class="section-header mb-4">
      <span>مميزات طبشور</span>
      <h4 class="section-header-title">
        كل ما تحتاجه لمساعدتك على بدء منصتك الخاصة
      </h4>
    </hgroup>

    <div class="row g-4">
      <div class="col-md-6 col-lg-4">
        <div class="p-3 rounded-3" style="background-color: var(--gray)">
          <div
            class="d-flex align-items-center justify-content-start gap-2 mb-3"
          >
            <div
              style="width: 2.5rem; height: 2.5rem"
              class="d-flex align-items-center justify-content-center rounded-circle flex-shrink-0 bg-primary"
            >
              <img
                src="/assets/images/icon.png"
                alt="Icon"
                class="img-fluid"
                style="width: 60%"
              />
            </div>
            <h6 class="mb-0">دعم جميع الاجهزة</h6>
          </div>
          <p class="mb-0" style="font-size: 12px">
            يمكن لمستخدميك بسهولة استخدامه من أي جهاز يحتاجون إليه دون مشاكل.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="p-3 rounded-3" style="background-color: var(--gray)">
          <div
            class="d-flex align-items-center justify-content-start gap-2 mb-3"
          >
            <div
              style="width: 2.5rem; height: 2.5rem"
              class="d-flex align-items-center justify-content-center rounded-circle flex-shrink-0 bg-primary"
            >
              <img
                src="/assets/images/icon.png"
                alt="Icon"
                class="img-fluid"
                style="width: 60%"
              />
            </div>
            <h6 class="mb-0">دعم جميع الاجهزة</h6>
          </div>
          <p class="mb-0" style="font-size: 12px">
            يمكن لمستخدميك بسهولة استخدامه من أي جهاز يحتاجون إليه دون مشاكل.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="p-3 rounded-3" style="background-color: var(--gray)">
          <div
            class="d-flex align-items-center justify-content-start gap-2 mb-3"
          >
            <div
              style="width: 2.5rem; height: 2.5rem"
              class="d-flex align-items-center justify-content-center rounded-circle flex-shrink-0 bg-primary"
            >
              <img
                src="/assets/images/icon.png"
                alt="Icon"
                class="img-fluid"
                style="width: 60%"
              />
            </div>
            <h6 class="mb-0">دعم جميع الاجهزة</h6>
          </div>
          <p class="mb-0" style="font-size: 12px">
            يمكن لمستخدميك بسهولة استخدامه من أي جهاز يحتاجون إليه دون مشاكل.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
