<section class="sectionPadding" id="#features">
  <div class="container">
    <hgroup class="section-header mb-4">
      <span>مميزات طبشور</span>
      <h4 class="section-header-title">
        كل ما تحتاجه لمساعدتك على بدء منصتك الخاصة
      </h4>
    </hgroup>

    <div class="row g-4">
      <div class="col-md-6 col-lg-4">
        <div class="p-3 rounded-3 feature-card">
          <div
            class="d-flex align-items-center justify-content-start gap-2 mb-4"
          >
            <div
              class="icon d-flex justify-content-center align-items-center rounded-circle fs-3"
              style="width: 2.5rem; height: 2.5rem"
            >
              <i class="bi bi-person-fill"></i>
            </div>
            <h5 class="title mb-0">دعم جميع الاجهزة</h6>
          </div>
          <p class="desc mb-0" style="font-size: 14px">
            يمكن لمستخدميك بسهولة استخدامه من أي جهاز يحتاجون إليه دون مشاكل.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="p-3 rounded-3 feature-card">
          <div
            class="d-flex align-items-center justify-content-start gap-2 mb-4"
          >
            <div
              class="icon d-flex justify-content-center align-items-center rounded-circle fs-3"
              style="width: 2.5rem; height: 2.5rem"
            >
              <i class="bi bi-person-fill"></i>
            </div>
            <h5 class="title mb-0">دعم جميع الاجهزة</h6>
          </div>
          <p class="desc mb-0" style="font-size: 14px">
            يمكن لمستخدميك بسهولة استخدامه من أي جهاز يحتاجون إليه دون مشاكل.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="p-3 rounded-3 feature-card">
          <div
            class="d-flex align-items-center justify-content-start gap-2 mb-4"
          >
            <div
              class="icon d-flex justify-content-center align-items-center rounded-circle fs-3"
              style="width: 2.5rem; height: 2.5rem"
            >
              <i class="bi bi-person-fill"></i>
            </div>
            <h5 class="title mb-0">دعم جميع الاجهزة</h6>
          </div>
          <p class="desc mb-0" style="font-size: 14px">
            يمكن لمستخدميك بسهولة استخدامه من أي جهاز يحتاجون إليه دون مشاكل.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
