<section
  class="hero-section"
  style="
    padding-top: 6rem;
    background: url(/assets/images/bg-image.png) no-repeat center center;
  "
>
  <div class="container">
    <div>
      <div
        class="col-md-6 mx-auto py-5 d-flex flex-column justify-content-center align-items-center gap-4 text-center"
      >
        <h6
          class="bg-primary text-secondary py-2 px-3 rounded"
          style="font-size: 10px"
        >
          تحديثات جديدة خاصة بطبشور للتحليلات الذكية
        </h6>

        <div class="text-primary">
          <h3>ابدا مشروعك الرقمي بدون تعقيد</h3>
          <h5>انضم لمجتمع طبشور</h5>
        </div>

        <p class="text-primary fw-light">
          قم ببناء منصتك التعليمية حسب إحتياجاتك واستخدم أحدث التكنولوجيا في
          تطوير التعليم
        </p>

        <div class="d-flex gap-3">
          <a class="main-btn" style="min-width: 150px">جرب الان مجانا</a>
          <a class="main-btn outline" style="min-width: 150px">تسجيل الدخول</a>
        </div>
      </div>

      <div
        class="col-md-9 mx-auto py-2 py-md-5 d-flex justify-content-center align-items-center"
      >
        <img
          src="/assets/images/macbook.png"
          alt="Hero Image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
