<section
  class="hero-section"
  style="
    padding-top: 6rem;
    background: url(assets/images/bg-image.png) no-repeat center center;
    background-size: cover;
  "
>
  <div class="container">
    <div>
      <div
        class="col-md-7 mx-auto py-5 d-flex flex-column justify-content-center align-items-center gap-4 text-center"
      >
        <h6
          class="py-2 px-3 rounded"
          style="font-size: 10px; background-color: #49367b; color: #41e7b2"
        >
          تحديثات جديدة خاصة بطبشور للتحليلات الذكية
        </h6>

        <div class="text-primary">
          <h2 class="fw-semibold">ابدا مشروعك الرقمي بدون تعقيد</h2>
          <h4 class="mt-4">انضم لمجتمع طبشور</h4>
        </div>

        <p class="text-primary fw-light fs-6">
          قم ببناء منصتك التعليمية حسب إحتياجاتك واستخدم أحدث التكنولوجيا في
          تطوير التعليم
        </p>

        <div class="d-flex gap-3">
          <a href="register.html" class="main-btn" style="min-width: 170px"
            >جرب الان مجانا</a
          >
          <a href="login.html" class="main-btn outline" style="min-width: 170px"
            >تسجيل الدخول</a
          >
        </div>
      </div>

      <div
        class="col-md-10 mx-auto py-2 py-md-5 d-flex justify-content-center align-items-center"
      >
        <img
          src="assets/images/macbook.png"
          alt="Hero Image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
