<section class="home-banner sectionPadding">
  <div class="container">
    <div
      class="bg-primary rounded-5 py-4"
      style="background: url(assets/images/bg-dark.png) no-repeat center center"
    >
      <div class="col-12">
        <div
          class="text-white text-center p-4 rounded-3 d-flex flex-column align-items-center justify-content-center gap-2"
        >
          <h3>هل أنت مستعد لتبدأ؟</h3>

          <h5 class="fw-light" style="line-height: 1.7">
            ابدأ الآن واحصل على فترة تجريبية مجانية بدون دفع وبدون بطاقة
          </h5>

          <div class="d-flex gap-3">
            <a
              href="blog.html"
              class="main-btn outline"
              style="min-width: 170px"
            >
              المدونة
            </a>
            <a
              href="register.html"
              class="main-btn outline"
              style="min-width: 170px"
            >
              ابدأ الان
            </a>
          </div>

          <div class="col-lg-8 position-relative mt-2 home-banner-img">
            <img
              src="assets/images/product-image.png"
              alt=""
              class="img-fluid w-100 h-100 object-fit-cover rounded-4"
            />

            <div class="flout-card start">
              <img src="assets/images/check-icon.png" alt="" />

              <div>
                <h5 class="title">تمت البيعة!</h5>
                <p class="desc">منذ دقيقتين</p>
              </div>
            </div>

            <div class="flout-card end">
              <img src="assets/images/check-icon.png" alt="" />

              <div>
                <h5 class="title">تمت البيعة!</h5>
                <p class="desc">منذ دقيقتين</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
