<section class="info-section py-5">
  <div class="container">
    <div class="row gx-3 gx-lg-5 gy-5">
      <div class="col-lg-6 text-white pe-lg-5">
        <h4 class="mb-4">مع طبشور يمكنك</h4>
        <p class="mb-4 text-white" style="font-size: 12px;font-weight: 400; line-height: 2.6">
          مع طبشور يمكنك إنشاء موقعك التعليمي الخاص بسهولة وخلال وقت قياسي،
          لتبدأ في تقديم وبيع دوراتك وإدارة عملك التعليمي بكفاءة واحترافية من
          مكان واحد.
        </p>

        <ul class="list-unstyled d-flex flex-column gap-4 mb-0">
          <li class="d-flex align-items-center gap-2" style="font-size: 14px">
            <i class="bi bi-circle-fill text-secondary"></i>
            إنشاء موقع تعليمي مخصص
          </li>
          <li class="d-flex align-items-center gap-2" style="font-size: 14px">
            <i class="bi bi-circle-fill text-secondary"></i>
            إنشاء موقع تعليمي مخصص
          </li>
          <li class="d-flex align-items-center gap-2" style="font-size: 14px">
            <i class="bi bi-circle-fill text-secondary"></i>
            إنشاء موقع تعليمي مخصص
          </li>
        </ul>
      </div>

      <div class="col-lg-6 text-white pe-lg-5">
        <h4 class="mb-4">مع طبشور يمكنك</h4>
        <p class="mb-4 text-white" style="font-size: 12px;font-weight: 400; line-height: 2.6">
          مع طبشور يمكنك إنشاء موقعك التعليمي الخاص بسهولة وخلال وقت قياسي،
          لتبدأ في تقديم وبيع دوراتك وإدارة عملك التعليمي بكفاءة واحترافية من
          مكان واحد.
        </p>

        <ul class="list-unstyled d-flex flex-column gap-4 mb-0">
          <li class="d-flex align-items-center gap-2" style="font-size: 14px">
            <i class="bi bi-circle-fill text-primary"></i>
            إنشاء موقع تعليمي مخصص
          </li>
          <li class="d-flex align-items-center gap-2" style="font-size: 14px">
            <i class="bi bi-circle-fill text-primary"></i>
            إنشاء موقع تعليمي مخصص
          </li>
          <li class="d-flex align-items-center gap-2" style="font-size: 14px">
            <i class="bi bi-circle-fill text-primary"></i>
            إنشاء موقع تعليمي مخصص
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
