<nav
  class="navbar navbar-expand-xl fixed-top py-3"
  style="background-color: #ffffff7b; backdrop-filter: blur(30px)"
>
  <div class="container">
    <a class="navbar-brand fw-bold m-0 p-0" href="/#" style="width: 100px">
      <img
        src="assets/images/logo.png"
        alt=""
        class="w-100 h-100 object-fit-contain"
      />
    </a>

    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#nav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">من نحن</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#features">مميزاتنا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#faq">الاسئلة الشائعة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#pricing">خطط الاسعار</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blog.html">المدونة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#contact">تواصل معنا</a>
        </li>
      </ul>

      <div class="d-flex justify-content-center gap-3">
        <a href="register.html" class="main-btn">انشاء حساب</a>
        <a href="login.html" class="main-btn outline">تسجيل الدخول</a>
      </div>
    </div>
  </div>
</nav>
