<nav class="navbar navbar-expand-lg fixed-top bg-transparent">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#">
      <img src="/assets/images/logo.png" alt="" />
    </a>

    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#nav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">من نحن</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="features.html">مميزاتنا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="faq.html">الاسئلة الشائعة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pricing.html">خطط الاسعار</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blog.html">المدونة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">تواصل معنا</a>
        </li>
      </ul>

      <div>
        <button class="main-btn">انشاء حساب</button>
        <button class="main-btn outline">تسجيل الدخول</button>
      </div>
    </div>
  </div>
</nav>
