<section class="pricing-section sectionPadding bg-primary">
  <div class="container">
    <div
      class="d-flex flex-column align-items-center justify-content-center text-center gap-2 mb-5"
    >
      <h3 class="text-white">خطط الأسعار</h3>
      <p class="text-white">
        اختر الباقة المناسبة لحجم عملك. يمكنك الترقية أو الإلغاء في أي وقت.
      </p>

      <div class="btn-group">
        <button class="active">شهري</button>
        <button class="">
          سنوي
          <span class="">20%</span>
        </button>
      </div>
    </div>

    <div class="row g-3 g-lg-5 justify-content-center align-items-center">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <h6 class="">مركز التدريب الإحترافي</h6>
            <p class="">مثالية للمبتدئين في بيع المنتجات الرقمية.</p>
            <h2 class="price">3520 <span class="">جنيه / شهر</span></h2>
            <button class="main-btn">اشترك الآن</button>
          </div>

          <ul class="card-list">
            <li><i class="bi bi-check2"></i>دورات تدريبية</li>
            <li><i class="bi bi-check2"></i>فعاليات ورش عمل</li>
            <li><i class="bi bi-check2"></i>دورات تدريبية مجمعة</li>
            <li class="disabled"><i class="bi bi-dash"></i>لوحة تحكم للمدرب</li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card active">
          <div class="card-header">
            <h6 class="">مركز التدريب الإحترافي</h6>
            <p class="">مثالية للمبتدئين في بيع المنتجات الرقمية.</p>
            <h2 class="price">3520 <span class="">جنيه / شهر</span></h2>
            <button class="main-btn secondary">اشترك الآن</button>
          </div>

          <ul class="card-list">
            <li><i class="bi bi-check2"></i>دورات تدريبية</li>
            <li><i class="bi bi-check2"></i>فعاليات ورش عمل</li>
            <li><i class="bi bi-check2"></i>دورات تدريبية مجمعة</li>
            <li class="disabled"><i class="bi bi-dash"></i>لوحة تحكم للمدرب</li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <h6 class="">مركز التدريب الإحترافي</h6>
            <p class="">مثالية للمبتدئين في بيع المنتجات الرقمية.</p>
            <h2 class="price">3520 <span class="">جنيه / شهر</span></h2>
            <button class="main-btn">اشترك الآن</button>
          </div>

          <ul class="card-list">
            <li><i class="bi bi-check2"></i>دورات تدريبية</li>
            <li><i class="bi bi-check2"></i>فعاليات ورش عمل</li>
            <li><i class="bi bi-check2"></i>دورات تدريبية مجمعة</li>
            <li class="disabled"><i class="bi bi-dash"></i>لوحة تحكم للمدرب</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
