<section class="sectionPadding" style="background-color: var(--gray)">
  <div class="container">
    <div class="row align-items-center g-3 g-lg-5">
      <div class="col-12 col-lg-5 who-we-are-image">
        <img
          src="assets/images/product-image.png"
          alt="طبشور"
          class="rounded-4 w-100 h-100 object-fit-cover"
        />
      </div>

      <div class="col-12 col-lg-7 align-content-center">
        <hgroup class="section-header gap-md-4">
          <span>ما هي طبشور</span>
          <h4 class="section-header-title fs-4">
            طبشور هي اهم شركة تقدم لك الخدمات المتعلقة بخدمة التعليم
          </h4>
          <p class="section-header-description">
            شركة متخصصة في الحلول الرقمية وتصميم وتطوير المواقع الإلكترونية،
            المتاجر الإلكترونية، والتطبيقات. بالإضافة إلى أنظمة البرمجيات
            المخصصة للشركات. تهدف الشركة إلى تمكين الأعمال من التحول الرقمي من
            خلال تقديم حلول مبتكرة تجمع بين التصميم الاحترافي، الأداء التقني
            العالي، وتجربة المستخدم المتطورة.
          </p>
        </hgroup>
      </div>
    </div>
  </div>
</section>
